---
import { Image } from 'astro:assets'
import Badge from '@/components/Badge.astro'

const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props
---

<div class="rounded-md shadow-md bg-white dark:bg-neutral-800">
	<Image
		width={750}
		height={468}
		format="webp"
		src={img}
		alt={title}
		class="rounded-t-lg h-[10rem] sm:h-[15rem] object-cover object-center"
	/>
	<div class="p-5">
		<div class="flex items-center justify-between gap-2">
			<h5
				class="mb-2 text-2xl font-bold tracking-tight text-neutral-800 dark:text-white"
			>
				{title}
			</h5>
			{badge && <Badge text={badge} />}
		</div>
		<p class="mb-3 font-normal text-neutral-700 dark:text-neutral-400">
			{desc}
		</p>
		<div class="flex items-center justify-end mt-5">
			{
				tags &&
					tags.map((tag: string) => (
						<span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border-[2px] border-neutral-100 text-neutral-700 dark:border-neutral-700 dark:text-neutral-300">
							{tag}
						</span>
					))
			}
		</div>
		<div class="flex items-center justify-end mt-5">
			<a
				href={url}
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-primary-700 rounded-md hover:bg-primary-800 focus:outline-none dark:bg-primary-600 dark:hover:bg-primary-700"
			>
				Ver código
			</a>
		</div>
	</div>
</div>
