---
import { Image } from 'astro:assets'
import Badge from '@/components/Badge.astro'

const {
	title,
	img,
	desc,
	url,
	badge,
	tags,
	target = '_blank',
	disableTransition = false
} = Astro.props
---

<a
	href={url}
	target={target}
	class="flex flex-col items-center bg-white h-auto md:h-40 border border-neutral-200 rounded-lg shadow md:flex-row hover:bg-neutral-100 dark:border-neutral-700 dark:bg-neutral-800 dark:hover:bg-neutral-700"
>
	{
		img && disableTransition && (
			<Image
				class="max-w-full md:max-w-[15rem] h-[10rem] sm:h-[13rem] md:h-[10rem] object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
				src={img}
				alt={title}
				format="webp"
				width={750}
				height={468}
			/>
		)
	}

	{
		img && !disableTransition && (
			<Image
				class="max-w-full md:max-w-[15rem] h-[10rem] sm:h-[13rem] md:h-[10rem] object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
				src={img}
				alt={title}
				format="webp"
				width={750}
				height={468}
				transition:name={`post-image-${url.replace('/blog/', '')}`}
			/>
		)
	}
	<div class="flex flex-col h-full justify-between p-4 w-full leading-normal">
		<div>
			{
				disableTransition && (
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-800 dark:text-white">
						{title}
					</h5>
				)
			}
			{
				!disableTransition && (
					<h5
						class="mb-2 text-2xl font-bold tracking-tight text-neutral-800 dark:text-white"
						transition:name={`post-title-${url.replace('/blog/', '')}`}
					>
						{title}
					</h5>
				)
			}
			{badge && <Badge text={badge} />}
			<p class="mb-3 font-normal text-neutral-700 dark:text-neutral-400">
				{desc}
			</p>
		</div>

		<div class="flex items-center justify-end gap-2">
			{
				tags &&
					tags.map((tag: string) => (
						<span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border-[2px] border-neutral-200 text-neutral-800 dark:border-neutral-800 dark:text-neutral-300">
							{tag}
						</span>
					))
			}
		</div>
	</div>
</a>
