---
import Card from "@components/Cards/Card.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { projects } from "../consts";
---

<BaseLayout title="Proyectos">
  <div>
    <h2 class="text-3xl w-full font-bold mb-6 mt-5">Últimos proyectos</h2>
  </div>

  <div class="grid md:grid-cols-2 gap-8">
    {
      projects.map((project) => (
        <Card
          title={project.title}
          img={project.img}
          desc={project.desc}
          url={project.url}
          badge={project.badge}
          tags={project.tags}
        />
      ))
    }
  </div>
</BaseLayout>
