---
import Card from '@components/Cards/Card.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getProjects } from '@utils/notion-connect'

const projects = await getProjects()
---

<BaseLayout title="Proyectos">
  <div>
    <h2 class="text-3xl w-full font-bold mb-6 mt-5">Proyectos</h2>
  </div>

  <div class="grid md:grid-cols-2 gap-8">
    {
      projects.map((project) => (
        <Card
          title={project.name}
          img={project.image}
          desc={project.description}
          url={project.repo}
          badge={project.status}
          tags={[...project.tags, ...project.languages]}
        />
      ))
    }
  </div>
</BaseLayout>
