---
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'

export interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image = '/images/social_img.webp' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ViewTransitions />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
	// Mockup code
	Array.from(document.querySelectorAll('pre')).forEach((element) => {
		element.removeAttribute('style')
		element.outerHTML = `<div class="mockup-code">${element.outerHTML}</div>`
	})

	// Theme toggle
	const $toggle = document.querySelector('#theme-toggle')

	const systemTheme = window.matchMedia('(prefers-color-scheme: dark)')
		.matches
		? 'dark'
		: 'light'

	let currentTheme = localStorage.getItem('data-theme') || systemTheme
	$toggle.checked = currentTheme === 'light'
	document.documentElement.setAttribute('data-theme', currentTheme)

	$toggle.addEventListener('change', () => {
		currentTheme = $toggle.checked ? 'light' : 'dark'
		document.documentElement.setAttribute('data-theme', currentTheme)
		localStorage.setItem('data-theme', currentTheme)
	})

	window
		.matchMedia('(prefers-color-scheme: dark)')
		.addEventListener('change', (e) => {
			if (localStorage.getItem('data-theme')) return

			currentTheme = e.matches ? 'dark' : 'light'
			$toggle.checked = currentTheme === 'light'
			document.documentElement.setAttribute('data-theme', currentTheme)
		})
})
</script>
