---
import { Image } from 'astro:assets'
import Badge from '@/components/Badge.astro'

const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props
---

<a
	href={url}
	target={target}
	class:list={[
		'flex flex-col items-center relative bg-white border border-gray-200 rounded-lg shadow overflow-hidden md:flex-row before:absolute before:bottom-0 before:end-0 before:w-24 before:h-24 before:rounded-full before:blur-[3.25rem] hover:bg-neutral-100 dark:border-gray-700 dark:bg-neutral-800 dark:hover:bg-neutral-700',
		{
			'before:bg-green-900/30 dark:before:bg-green-500/30':
				badge.toLowerCase() === 'en desarrollo',
			'before:bg-blue-900/30 dark:before:bg-blue-500/30':
				badge.toLowerCase() === 'en pausa',
			'before:bg-red-900/30 dark:before:bg-red-500/30':
				badge.toLowerCase() === 'cancelado',
			'before:bg-neutral-900/30 dark:before:bg-neutral-500/30':
				badge.toLowerCase() === 'próximamente'
		}
	]}
>
	{
		img && (
			<Image
				class="max-w-full md:max-w-[16rem] object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg"
				src={img}
				alt={title}
				format="webp"
				width={750}
				height={468}
			/>
		)
	}

	<div class="flex flex-col h-full justify-between p-4 w-full leading-normal">
		<div>
			{
				(
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-800 dark:text-white">
						{title}
					</h5>
				)
			}
			{badge && <Badge text={badge} />}
			<p class="my-3 font-normal text-neutral-700 dark:text-neutral-400">
				{desc}
			</p>
		</div>

		<div
			class="flex items-center justify-start flex-wrap gap-2 md:flex-nowrap md:justify-end"
		>
			{
				tags &&
					tags.map((tag: string) => (
						<span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded border-[2px] border-neutral-200 text-neutral-700 dark:border-neutral-600 dark:text-neutral-300">
							{tag}
						</span>
					))
			}
		</div>
	</div>
</a>
