---
import projects from '@/data/projects'
import Card from './Card.astro';
---

<h2 class="text-3xl font-bold dark:text-white mb-5 mt-28">🎊 Proyectos</h2>

<div class="flex flex-col gap-8">
	{
		projects.map((project) => (
			<Card
				title={project.name}
				img={project.image}
				desc={project.description}
				url={project.repo}
				badge={project.status}
				tags={[...project.tags, ...project.languages]}
			/>
		))
	}
</div>
