---
import social from '@/data/social'

const { inFooter } = Astro.props
---

<div class="flex gap-5 self-center">
	{
		social.map((item) => (
			<a
				class="text-neutral-500 dark:text-neutral-400 hover:scale-125 hover:text-emerald-500 transition-all"
				href={item.path}
				target="_blank"
				aria-label={item.name}
				title={item.name}
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width={item.size}
					height={item.size}
					viewBox={item.viewBox}
					style="fill: currentColor;"
					set:html={item.icon}
				/>
			</a>
		))
	}
</div>
